<include file="Public:header_new" />
<style>
.outlogbox .logbox{width:550px;}
.outlogbox .logbox .inbox{border:0 none;margin-top:10px;}
</style>
<div class="outlogbox">
    <div class="logbox">
		<div class="inbox">
		  
			<h1>重要提示：保护您的数字资产</h1>
			 <font size="2px" style="font-size: 14px;color:rgba(0,0,0,0.7);line-height: 22px;">请花一些时间来保护您的数字资产，您可以利用双重身份验证来大大增强账户的安全。 双重身份验证在登录、提现时需要另外一个密码。这可防止黑客通过劫持您的电脑或盗窃您的密码来登录您的账户。</font>
			<span class="todeal">
				<a href="/user/ga.html">启用身份验证</a>
			</span>
			<a href="/" style="color:rgba(0,0,0,0.7);margin-top: 10px;float:right;">以后提醒我</a>

		</div>
	</div>
</div>
<include file="Public:footer_new" />