<div class="usnc_left">
    <div class="ulmenubox">
        <h4><a href="/User/index" style="color:rgba(0,0,0,0.7);"> 个人中心</a></h4>
        <ul>
            
            <li id="user_sec" class="">
                <a href="{:U('User/security')}">安全设置</a>
            </li>
            <li id="trusted" class="">
                <a href="{:U('User/trusted')}">受信任的</a>
            </li>
			<li id="user_qianbao" class="">
                <a href="{:U('User/qianbao')}">钱包管理</a>
            </li>
        </ul>
    </div>
    <div class="ulmenubox">
        <h4>我的广告</h4>
        <ul>
            <li id="ad_sell" class="">
                <a href="{:U('User/myad')}?type=1">出售广告</a>
            </li>
            <li id="ad_buy" class="">
                <a href="{:U('User/myad')}?type=0">购买广告</a>
            </li>
        </ul>
    </div>
	<div class="ulmenubox">
		<h4>推荐用户</h4>
		<ul>
            <li id="user_mytj" class="">
				<a href="{:U('User/mytj')}">推荐用户</a>
			</li>
			<li id="user_mywd" class="">
				<a href="{:U('User/mywd')}">我的推荐</a>
			</li>
			<li id="user_myjp" class="">
				<a href="{:U('User/myjp')}">推荐奖励</a>
			</li>
		</ul>
	</div>
    <div class="ulmenubox">
        <h4>日志管理</h4>
        <ul>
            <li id="user_log" class="">
                <a href="{:U('User/log')}">登录日志</a>
            </li>
			<li id="coin_log" class="">
                <a href="{:U('User/coinlog')}">资金日志</a>
            </li>
			
        </ul>
    </div>
</div>