<include file="Public:header" />
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title"><a href="{:U('Config/changeAddr')}">{$coin_info['name']|strtoupper}修改转出地址</a> >></span>
		</div>
		<div class="alert-content">该页面可以设置{$coin_info['name']|strtoupper}转出地址，所有用户的提币从您设置的账户转出，所以请确保您设置的账户有足够的{$coin_info['name']|strtoupper}和以太坊余额。</div>
		<div class="tab-wrap">
			<div class="tab-content">
				<form id="form" action="{:U('Config/changeAddr')}" method="post" class="form-horizontal" enctype="multipart/form-data">
					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table>
								<tr class="controls">
									<td class="item-label">当前地址 :</td>
									<td>{$zcaddr}</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">当前地址ETH余额 :</td>
									<td>{$balance}</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">新地址 :</td>
									<td><input type="text" class="form-control input-10x" name="address" value=""></td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">新密码 :</td>
									<td><input type="text" class="form-control input-10x" name="password" value=""></td>
									<td class="item-note"></td>
								</tr>
								<input type="hidden" name="coinname" value="{$coin_info['name']}" />
								<tr class="controls">
									<td class="item-label"></td>
									<td>
										<div class="form-item cf">
											<button class= "btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">
												提交修改
											</button>
											<a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</form>
				<script type="text/javascript">
					//提交表单
					$('#submit').click(function() {
						$('#form').submit();
					});
				</script>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer" />
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Config/changeAddr')}");
	</script>
</block>